@media (min-width: 500px) {
    body {
        background-color: #000;
        color: #fff;
    }
    .media-div-a {
        background-color: red;
    }
}

@media (max-width: 480px) {
    .media-div-a, .media-div-b, .media-div-c {
        font-size: 40px;
    }
}

@media (max-width: 420px) {
    .media-div-b, .media-div-c{
        width: 100%;
    }
}




















/* @media (max-width: 600px) {
    body {  
        background-color: green;
    }
}

@media (min-width: 600px) and (max-width: 978px) {
    body {
        background-color: yellow;
    }
}

@media (min-width: 978px) {
    body {
        background-color: blue;
    }
} */
